button{
    width: 250px;
    height: 80;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #00471b;
}

.click-button{
    background-color: #002ead;
}

.restart-button{
    background-color: #5a01a7;
}